body{font-family: 'Arial'}
header{display:flex;
align-items: center;
justify-content: space-between;}








.input [type=username], input [type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.loginbtn {
    background-color: #9DD8D4;

}