body{
  display: flex;
  flex-direction: column;
  color: white;
  border: 0px;
  padding: 25px;
  background-color: peachpuff;
  margin: 5px 5px;
}

span{
  padding: 100px;
  background-color: gray;
  height: 250px;
  width: 300px;
}
.loginbutton{
  display: inline;
}